/* *****Josh's Custom CSS Reset   https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* *****HERE IS WHERE START MY STYLES */

:root {
  --brand-100: #fee5d9;
  --brand-200: #fdcbb3;
  --brand-300: #fdb28c;
  --brand-400: #fc9866;
  --brand-500: #fb7e40;
  --brand-600: #c96533;
  --brand-700: #974c26;
  --brand-800: #64321a;
  --brand-900: #32190d;

  --custom-gray-100: #f1eeec;
  --custom-gray-200: #e2ddd8;
  --custom-gray-300: #d4ccc5;
  --custom-gray-400: #c5bbb1;
  --custom-gray-500: #b7aa9e;
  --custom-gray-600: #92887e;
  --custom-gray-700: #6e665f;
  --custom-gray-800: #49443f;
  --custom-gray-900: #252220;
}

* {
  /* border: 1px solid black; */
}

body {
  background-color: var(--custom-gray-100);
  color: var(--custom-gray-800);
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  background-color: var(--brand-300);
}

h1,
h2 {
  color: var(--custom-gray-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: var(--brand-600);
}

/* *****HEADER****** */

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--custom-gray-100);
}

.logo-and-subtitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  color: var(--brand-900);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.logo-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul a {
  text-decoration: none;
}

ul a:link {
  color: var(--brand-600);
}

ul a:visited {
  color: var(--brand-800);
}

ul a:hover {
  text-decoration: underline;
}

.selected {
  font-weight: 700;
}

nav a {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

@media (width < 866px) {
  header {
    flex-direction: column;
    padding: 1rem;
  }
}

/* *****MAIN****** */

main {
  margin: 2rem auto;
  width: 50%;
  background-color: var(--custom-gray-100);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0.125rem 0.438rem 1.219rem 0rem rgba(33, 33, 33, 0.15),
    0rem 0.25rem 0.475rem 0rem rgba(33, 33, 33, 0.1);
  flex-grow: 1;
}

main h1 {
  font-weight: 500;
  color: var(--brand-700);
}

main h2 {
  font-weight: 400;
  color: var(--brand-600);
}
section {
  margin: 2rem auto;
}

.avatar {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  margin: 1rem auto;
}

.hi {
  display: block;
  font-size: 2rem;
}

blockquote {
  font-style: italic;
  font-size: 1.25rem;
  margin: 1rem auto;
  text-align: center;
}

cite {
  font-style: normal;
}

/* Button */

.primary-button {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--custom-gray-900);
  background-color: var(--brand-500);
  padding: 0.5rem 1rem;
  border-radius: 1.875rem;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    font-weight: bold;
    color: var(--custom-gray-100);
    background-color: var(--brand-800);
  }
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
    border: none;
    border-bottom: 1rem solid var(--text-black);
    border-width: 0.125rem;
    padding: 0.5rem;
    max-width: 100%;
    background-color: white;
    border-radius: 4px;
}

fieldset {
    padding: 0.3rem 0;
    border: none;
}
.connect{
  font-size: 1.25rem;
}

form button {
  align-self: center;
}

.input-label {
  font-size: 1rem;
}

.required-field {
  color: var(--brand-600);
}

.name-surname {
  display: flex;
  justify-content: start;
  gap: 3rem;
  flex-wrap: wrap;
}

.email-subject-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.field,
.field-message {
  display: flex;
  flex-direction: column;
}

/* Experience card */

  article {
    box-shadow:
      0.125rem 0.438rem 1.219rem 0rem rgba(33, 33, 33, 0.15),
      0rem 0.25rem 0.475rem 0rem rgba(33, 33, 33, 0.1);
    display: flex;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--bg-color);
    border-radius: 8px;
    margin: 1rem auto;
  }

  .experience-and-download {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .experience-titles,
  .experience-text {
    display: flex;
    flex-direction: column;

    .role {
      font-size: 1.063rem;
    }
  }

  .experience-titles {
    width: 40%;
    justify-content: start;
  }

  .experience-text {
    justify-content: space-between;
    width: 60%;
    gap: 1rem;
  }

  .date {
    color: var(--custom-gray-700);
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
  }
  .role {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--brand-800);
    font-size: 0.875rem;
    width: 100%;
    margin: 0;
  }

  .company {
    color: var(--custom-gray-700);
    font-weight: 400;
    font-size: 1.063rem;
    margin: 0;
  }

  .location {
    color: var(--custom-gray-700);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0;
  }

@media (width < 866px) {
  main {
    width: 95%;
    padding: 1rem;
    margin: 1rem auto;
  }
}

/* *****FOOTER****** */

footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
